body {
    font-family: 'Arvo',Arial; 
    background-color: #214977;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

.navbar {
    background-color: #214977; 
}

.navbar .navbar-header .navbar-brand {
    font-weight: 700;
    color: #f05f40;
    font-size: 22px; 
}
#mainNav{
	position: fixed; 
    width: 100%; 

}

.navbar .nav > li>a
 { 
    font-size: 12.5px;
    font-weight: 700;
    color: white;
    
}

.navbar .nav>li>a:hover {
    color: #f05f40;
    background: none;
}



#page_wrapper{
    background-color: white;   
    margin-left: 40px;
    margin-right: 40px;
     padding-top: 45px; 
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
         
}

footer{
    color: #f05f40;
    padding-top: 10px;
    position: fixed;
    bottom: 0px;
    background-color: #214977;
    width: 100%; height:50px;
    font-size: 1.14em;

}

@media(min-width:768px) {
    	.small{
    		display: none;
    	}

}

@media(max-width:768px) {
    	.large{
    		display: none;

    	}
        footer{
            font-size: .7em;
        }
        #page_wrapper{
            margin-left: 0px;
            margin-right:0px;
            
        }
        .title_images{
            height: 30%;
            width: 100%;
            
        }
        .cover_image{
            width: 100%;
            height: 10%;
        }       

}
